@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    /* background:url('https://img.freepik.com/fotos-gratis/conceito-de-fundo-do-estudio-abstrato-vazio-claro-gradiente-roxo-fundo-do-quarto-do-estudio-para-o-produto_1258-54682.jpg?w=826&t=st=1718914876~exp=1718915476~hmac=ec055a503c6f016968f3a58ff3d558ab8a77cfff75d10e36b720f0cd055819cb');
    background-size: cover; */
    background: rgb(83,6,122);
    background: linear-gradient(177deg, rgba(83,6,122,1) 0%, rgba(140,24,193,1) 100%);
    color: white;
}

header {
    background: rgb(83,6,122);
    background: linear-gradient(177deg, rgba(83,6,122,1) 0%, rgba(140,24,193,1) 100%); 
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
    color: white;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    background-color: rgb(83,6,122);
    background: linear-gradient(177deg, rgba(83,6,122,1) 0%, rgba(140,24,193,1) 100%);
    padding: 10px 15px;
    border-radius: 5px;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.corpo-site {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
    gap: 16px;
}

.card {
    background-color: #fff;
    width: 340px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 120%;
}

.card h1 {
    font-size: .9rem;
    color: #aaaa;
}

.card h2 {
    font-size: .9rem;
    color: #aaaa;
}

.card button {
    background-color: #2192FF;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}